/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

th, td {
    padding: 5px;
}

p {
    margin-top: 5px;
}

h4 {
    margin-bottom: 5px;
}
body {
    font-family: 'Quicksand', sans-serif;
}
