<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Redis!</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css"/>

  </head>

  <body>
    <div class="pt-3 container text-center">
      <h1>Hello Redis!</h1>
      <p>Hostname of webserver:<br /><code>{{ hostname }}</code></p>

      <div class="p-3"></div>

      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>
