{% extends 'base.html' %}
{% block redis %}
    <h4>Enter a string to Hash</h4>
    <form method="post">
        <label for="user_string">String:</label>
        <input type="text" id="user_string" name="user_string" required>
        <button type="submit">Submit</button>
    </form>
    {% if original_string %}
        <h4>Original String:</h4>
        <p>{{ original_string }}</p>
    {% endif %}
    {% if unsalted_hash %}
        <h4>Unsalted Hash:</h4>
        <p>{{ unsalted_hash }}</p>
    {% endif %}
    {% if salted_hash %}
        <h4>Salted Hash:</h4>
        <p>{{ salted_hash }}</p>
    {% elif error %}
        <h4>Error:</h4>
        <p>{{ error }}</p>
    {% endif %}

<br />
<p>Go back to <a href="{{ url_for('index') }}">Redis</a>!</p>
{% endblock %}
